# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs & Data Files
*.log
*.csv
*.gz
*.tar
*.zip

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env

# Model files
*.pkl
*.joblib

# Large datasets
HDFS.log
block_features.csv